body {
max-width: 80em;
margin: auto;
padding: 2em;
text-align: justify;
font-family: Verdana, Geneva, sans-serif;
line-height: 1.6;
}
h1, h2{
    text-align: left;
}
.lcol{
    width: 50%;
    float: left;
    text-align: left;
}
.rcol{
    width: 50%;
    float: left;
    text-align: right;
}
.row:after{
    content: "";
    display: table;
    clear: both;
}
.lbl-toggle, a:link, a:visited{
    text-decoration: none;
    color: #494ca2;
}
.lbl-toggle:hover,a:hover, a:active {
    text-decoration: underline;
    color: #8186d5;
}
.post-date {
    font-style: italic;
}
input[type=submit], input[type=reset]{
    background: none;
    border: solid;
    border-width: 1px;
    border-color: #c6cbef;
    color: #494ca2;
    font-size: 1em;
    text-decoration: none;
    width: 100%;
    margin: auto;
}
input[type=submit]:hover, input[type=reset]:hover, input[type=submit]:active, input[type=reset]:active{
    background: #c6cbef;
}
input, textarea{width: 100%;}
table{width:100%; margin: auto;}
.ltd {width: 20%; min-width: 8em; margin:auto;}
div.comment{
    margin-left: 1em;
    padding-left: 1em;
    border-left: 1px solid grey;
}
pre, figure {
    overflow: scroll;
}
.org-svg{
    width:auto;
    vertical-align:middle;
}
input[type='checkbox'] {
    display: none;
}
.lbl-toggle {
    display: block;
}

.collapsible-content {
    max-height: 0px;
    overflow: hidden;
    transition: max-height 1s ease-in-out;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
    max-height: 350em;
}
figure {
    text-align: center;
}
