body {
    max-width: 60em;
    margin: auto;
    padding: 2em;
    text-align: justify;
    line-height: 1.6;
    font-family: sans-serif;
}

.header {
    font-size: 1.2em;
    padding: 1em 0em 1em 0em;
    font-family: serif;
}

.post-info {
    padding-bottom: 1em;
}


#table-of-contents {
    font-size: 90%;
    margin: 2em 0em 2em 0em;
    padding-left: 0.1rem;
}

#other_posts {
    padding: 0.5rem 0rem 1.5rem 0;
    color: #555;
    font-size: 1rem
}

#preamble {
    padding: 0.5em 0em 1em 0em;
}

#postamble {
    padding: 1em 0em 0em 0em;
}

#blog-tail {
    margin-top: 4em;
}

#single-tag-list {
    padding-left: 2em;
    font-size: 120%;
}

h1 {
    font-size: 180%;
    line-height: 1.1;
    margin: 1.5rem 0rem 0.1rem 0rem;
    padding-top: 0.02em;
}

h3.post-title {
    margin: 0em 0em 1rem 0em;
}

aside {
    margin: 1rem 0em 0em 0em;
    font-style: italic;
    font-size: 0.9rem;
    font-family: serif;
    line-height: 1.40;
    color: #667;
}

p {
    margin-bottom: 1em;
    line-height: 1.45;
}

ul,ol {
    margin: 1em 0em 1em 0em;
    padding-left: 2em;
}

li {
    line-height: 1.75;
}

table {
    margin-bottom: 1.5em;
    border-collapse: collapse;
    width: 95%;
}

table tr + tr {
    border-top: 1px solid #ccc;
}
table td + td {
    border-left: 1px solid #ccc;
}

table td {
    padding: 0.4em;
    text-align: center;
    hyphens: none;
}

table th {
    font-weight: normal;
    text-transform: uppercase;
    font-size: 95%;
    padding: 0.3rem 0.5rem 0.3rem 0.5rem;
    line-height: 1.05;
}

img {
    width: 100%;
    border-radius: 25px;
}

a {
    text-decoration: none;
    color: #a05320;
}


div.nav a:active div {
    background: #cacaca;
}

a:active {
    color: #777;
}

a:hover {
    text-decoration: underline;
    color: #4169e1;
}
a:visited {
    color: #663221;
}

a.post-tag:before {
    position: relative;
    content: "#";
}

pre {
    font-size:0.8rem;
    background: #f5f7f9;
    padding: 1em;
    margin-bottom: 20px;
    vertical-align: text-bottom;
}

figcaption {
    font-weight: 400;
    font-style: italic;
    font-size: 0.7em/1.52;
    line-height: 1.3;
    color: #666665;
    outline: 0;
    z-index: 300;
    text-align: center;
}
